*, *::before, *::after{
  box-sizing: border-box;
}


.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid #4a47a3;
}

.outer-item {
  background-color: #413c69;
  width: 200px;
  height: 200px;

  /* Add margin */
  margin: 20px;

  /* Add Padding */
  padding: 20px
}

.inner-item {
  background-color: #eab9c9;
  width: 100px;
  height: 100px;
}
